/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

.pushy-nav{
  position: fixed;
  width: 340px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #333332;
  -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
  -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
  box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

/* Menu Movement */

.pushy-left{
  -webkit-transform: translate3d(-340px,0,0);
  -moz-transform: translate3d(-340px,0,0);
  -ms-transform: translate3d(-340px,0,0);
  -o-transform: translate3d(-340px,0,0);
  transform: translate3d(-340px,0,0);
}

.no-csstransforms3d .pushy-left {
  display: none;
}

.pushy-open{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.pushy-body.container-push, .push-push{
  -webkit-transform: translate3d(340px,0,0);
  -moz-transform: translate3d(340px,0,0);
  -ms-transform: translate3d(340px,0,0);
  -o-transform: translate3d(340px,0,0);
  transform: translate3d(340px,0,0);
}

/* Menu Transitions */

.pushy-nav, .pushy-body, .push{
  -webkit-transition: -webkit-transform .2s ease;
  -moz-transition: -moz-transform .2s ease;
  -o-transition: -o-transform .2s ease;
  transition: transform .2s ease;
  /* improves performance issues on mobile*/
  -webkit-backface-visibility: hidden;
}

/* Site Overlay */

.pushy-cloak{
  display: none;
}

.pushy-active .pushy-cloak{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 340px;
  z-index: 9999;
}

html.pushy-active, html.pushy-active body, html.pushy-active .pushy-body {
  overflow-x: hidden; /* prevents horizontal scroll bars */
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
  height: 100%; /* fixes focus scrolling in Safari (OS X) */
}

/* hide menu for old devices - requires Modernizr */
.no-csstransforms3d .pushy-left {
  display: none !important;
}