<!-- @@master  = /layout/_app.html {"title": "Sites", "page": "sites"}-->


<!-- @@block = js-->
<script src="/js/pages/sites.js"></script>
<script src="/js/_container.js"></script>
<!-- @@close-->

<!-- @@block = css-->

<!-- @@close-->

<!-- @@block  =  content-->
<div ng-controller="ContainerController">
   <div ng-if="sites" ng-repeat="site in sites" ng-style="{ 'background' : site.code, 'padding': '5px'}">
      <a href="#" class="plus"></a>
         <img ng-src="../img/sites/site.{{site.code}}.logo.png">
   </div>
</div>
<!-- @@close-->
