$padding: 10px;
$p: 5px;
$p-half: 3px;
$c-gal-thumb-height: 70px;
$border-radius: 4px;

$color-white: white;
$color-pink: #E90E7B; //e80c7a
$color-pink-dark: #CE0E6E;
$color-pink-dark-border: #b90c63;
$color-pink-dark-text: #AF085C;
$color-pink-negative: #ff364e;
$color-border-grey: #D8D8D8;
$color-border-black: #303030;
$color-text-grey: #C1C1C1;
$color-blue-light: #1EADEE;
$color-blue: #0099E9;
$color-blue-dark: #0288D1;
$color-grey-dark: #464646;
$color-grey-medium: #6b6b6b;
$color-black-light: #1E1E1E;
$color-brown: #aa9e79;
$color-category: #759dfa;
$color-filter: #57d1c2;
$color-green-positive: #3fea36;
$color-album-btn: rgba(255, 255, 255, 0.3);
$color-album-btn-active: rgba(255, 255, 255, 0.6);

$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-max: 999;

$c-tag-height: $p*5;

$media-max-width: 'max-width';
$media-min-width: 'min-width';

$l-container-padding: $p*2;