<div class="m-pushy">
    <div class="m-pushy-input"><i class="fa fa-search"></i>Search</div>

    <ul class="m-pushy-pages">
        <li class="is-active">
            <a href="#">
                <i class="fa fa-home is-icon"></i>Top
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>

    <ul class="m-pushy-best">
        <li>
            <a href="#">
                <i class="fa fa-thumb-up is-icon"></i>Best Voted Albums
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>

    <div class="m-pushy--spacer"></div>

    <ul class="m-pushy-langs">
        <li class="is-active"><a href="#"><i class="c-flag is-ja"></i>JP</a></li>
        <li><a href="#"><i class="c-flag is-en"></i>EN</a></li>
        <li><a href="#"><i class="c-flag is-ch"></i>CH</a></li>
    </ul>
</div>